__pycache__
.DS_Store
*.pkl
*.tsv
*.json
*.json.bz2
*.csv
examples/scaa
examples/new_scaa
examples/one_to_one
examples/one_vs_10
lda_docstring_embeddings*
.idea
SourceCodeTools.egg-info
.ipynb_checkpoints
embedding-models
res/
spark-SourceGraphAnalysis/.bsp/
spark-SourceGraphAnalysis/project/
spark-SourceGraphAnalysis/src/main/scala/META-INF/
spark-SourceGraphAnalysis/target/
spark-SourceGraphAnalysis/temp/
