__pycache__
.DS_Store
*.pkl
*.tsv
lda_docstring_embeddings*
.idea
SourceCodeTools.egg-info
.ipynb_checkpoints
embedding-models
res/
spark-SourceGraphAnalysis/.bsp/
spark-SourceGraphAnalysis/project/
spark-SourceGraphAnalysis/src/main/scala/META-INF/
spark-SourceGraphAnalysis/target/
spark-SourceGraphAnalysis/temp/

__pycache__/
*.py[cod]
*$py.class

10_percent_v1/

*.bz2
*v2.zip
